<section>
    <h2>Gestion des stagiaires</h2>

    <div class="statistiques">
        <div class="statistique">
            <p class="line1"> Objectifs totaux <span class="material-symbols-outlined">target</span></p>
            <p class="val">12</p>
        </div>
        <div class="statistique">
            <p class="line1"> Objectifs complétés <span class="material-symbols-outlined">check_circle</span></p>
            <p class="val">85</p>
        </div>
        <div class="statistique">
            <p class="line1"> Stagiaires actifs<span class="material-symbols-outlined">groups</span></p>
            <p class="val">15</p>
        </div>
        <div class="statistique">
            <p class="line1"> Rapport hebdomadaire<span class="material-symbols-outlined">event_note</span></p>
            <p class="val">Générer</p>
        </div>
    </div>
    <div class="add-stagiaire-container">
        <button class="add-stagiaire" (click)="openAddStagiaireForm()">
        <span class="material-symbols-outlined">person_add</span> 
        <p>Ajouter un stagiaire</p>
    </button>
    </div>
    
</section>