<form [formGroup]="addObjectifForm" (ngSubmit)="onSubmit()">
    <div>
        <h2>Enregistrer un objectif</h2>
        <p>Attribuer à: <span class="username"> {{stagiaireData.username}}</span></p>
    </div>
    @if (error) {
    <div class="error">
        Veuillez remplir correctement les champs
    </div>
    }
    <div class="row-container">
        <div class="row">
            <div class="label-input">
                <label for="titre">Titre </label>
                <input type="text" id="titre" formControlName="titre" placeholder="Entrez le nom de l'objectif" required>
            </div>
        </div>
        @if (addObjectifForm.get('title')?.invalid && addObjectifForm.get('title')?.touched) {
        <div class="error">Ce champ est obligatoire (min 3 caractères) .</div>
        }
        <div class="row">
            <div class="label-input">
                <label for="description">Description </label>
                <textarea id="description" formControlName="description"
                    placeholder="Entrez la description de l'objectif" required></textarea>
            </div>
        </div>
        @if (addObjectifForm.get('description')?.invalid && addObjectifForm.get('description')?.touched) {
        <div class="error">Ce champ est obligatoire (min 3 caractères) .</div>
        }
        <div class="row">
            <div class="label-input">
                <label for="type">Type</label>
                <select name="" id="type" formControlName="type">
                    <option value="" disabled selected class="placeholder-option"> Attribuer un type</option>
                    <option value="journalier">Journalier</option>
                    <option value="hebdomadaire">Hebdomadaire</option>
                </select>
            </div>
            <div class="label-input">
                <label for="nature">Nature</label>
                <select name="" id="nature" formControlName="nature">
                    <option value="" disabled selected class="placeholder-option">Attribuer une Nature</option>
                    <option value="qualitatif">Qualitatif</option>
                    <option value="quantitatif">Quantitatif</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="label-input">
                <label for="fin">Date limite</label>
                <input type="date" name="" id="fin" formControlName="fin">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="label-input">
                <label for="commentaire">Commentaire (facultatif) </label>
                <textarea id="commentaire" formControlName="commentaire" placeholder="Entrez un commentaire"></textarea>
            </div>
        </div>


    </div>
    <div class="btn-container">
        <button type="submit">Enregistrer l'objectif</button>
    </div>
</form>