<section>
    <h2>Profil utilisateur</h2>

    <div class="form-container">
        <form class="principal-form" [formGroup]="profilForm">
            <div class="text-brut">
                <h2>Informations du profil</h2>
                <p>Mettez à jour vos informations personnelles</p>
            </div>

            <div class="image-container">
                <img src="images/avatar.png" alt="Image du profil">
                <input type="file" id="image-file" hidden>
                <label class="change-image" for="image-file">Changer la photo</label>
            </div>
            <div class="row">
                <div class="label-input">
                    <label for="nom">Nom </label>
                    <input type="text" id="nom" formControlName="name" value="Valeur par défaut">
                </div>
                <div class="label-input">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" formControlName="firstName">
                </div>
            </div>
            <div class="row">
                <div class="label-input">
                    <label for="departement">Département </label>
                    <input type="text" id="departement" formControlName="departement">
                </div>
                <div class="label-input">
                    <label for="email">Email </label>
                    <input type="email" id="email" formControlName="email">
                </div>
            </div>

            <hr />

            <form formGroupName="changePasswordForm" (ngSubmit)="changePasswordSubmit()" [formGroup]="profilForm">
                <h3>Changer le mot de passe</h3>
                @if (changePasswordError != '') {
                    <div class="error">
                        {{changePasswordError}}
                    </div>
                }
                <div class="row">
                    <div class="label-input">
                        <label for="lastPassword">Ancien mot de passe</label>
                        <input type="password" id="lastPassword" formControlName="lastPassword">
                    </div>
                </div>

                <div class="row">
                    <div class="label-input">
                        <label for="newPassword">Nouveau Mot de passe </label>
                        <input type="password" id="newPassword" formControlName="newPassword">
                    </div>
                    <div class="label-input">
                        <label for="confirmPassword">Confirmer </label>
                        <input type="password" id="confirmPassword" formControlName="confirmPassword">
                    </div>
                </div>
                @if (profilForm.get('changePassword.confirmPassword')?.invalid && profilForm.get('changePassword.confirmPassword')?.touched) {
                <div class="error">Ce champ est requis (min 3 caractères) .</div>
                }
                <button type="submit">Changer le mot de passe</button>
            </form>
            <button type="submit">Enregistrer les modifications</button>
        </form>
    </div>
</section>