<section>
    <h2>Profil utilisateur</h2>

    <div class="form-container">
        <form action="" class="principal-form">
            <div class="text-brut">
                <h2>Informations du profil</h2>
                <p>Mettez à jour vos informations personnelles</p>
            </div>

            <div class="image-container">
                <img src="images/avatar.png" alt="Image du profil">
                <input type="file" id="image-file" hidden>
                <label class="change-image" for="image-file">Changer la photo</label>
            </div>
            <div class="row">
                <div class="label-input">
                    <label for="nom">Nom </label>
                    <input type="text" id="nom" formControlName="name">
                </div>
                <div class="label-input">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" formControlName="lastName">
                </div>
            </div>
            <div class="row">
                <div class="label-input">
                    <label for="departement">Département </label>
                    <input type="text" id="departement" formControlName="departement">
                </div>
                <div class="label-input">
                    <label for="dteDebutStage">Date de début de stage</label>
                    <input type="date" id="dteDebutStage" formControlName="dteDebutStage">
                </div>
            </div>
            <div class="row">
                <div class="label-input">
                    <label for="dteFinStage">Date de fin de stage</label>
                    <input type="date" id="dteFinStage" formControlName="dteFinStage">
                </div>
            </div>


            <hr />

            <form action="">
                <h3>Changer le mot de passe</h3>
                <div class="row">
                    <div class="label-input">
                        <label for="ancienMdp">Ancien mot de passe</label>
                        <input type="password" id="ancienMdp" formControlName="ancienMdp">
                    </div>
                </div>

                <div class="row">
                    <div class="label-input">
                        <label for="newMdp">Nouveau Mot de passe </label>
                        <input type="password" id="newMdp" formControlName="newMdp">
                    </div>
                    <div class="label-input">
                        <label for="confirmNewMdp">Confirmer </label>
                        <input type="password" id="confirmNewMdp" formControlName="confirmNewMdp">
                    </div>
                </div>
                <button>Changer le mot de passe</button>
            </form>
            <button>Enregistrer les modifications</button>
        </form>
    </div>
</section>