<section>
    <h2>Liste des stagiaires</h2>
    <form action="" [formGroup]="searchForm">
        <div class="search-wrapper">
            <span class="material-symbols-outlined">search</span>
            <input type="text" formControlName="search" placeholder="Rechercher un rapport">
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom & Prénom</th>
                <th>Niveau</th>
                <th>Département</th>
                <th>Période</th>
                <th>Statut</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @for (stagiaire of filterStagiaires; track stagiaire.id; let i = $index) {
            <tr>
                <td>{{stagiaire.id}}</td>
                <td class="nom">{{stagiaire.name}} {{stagiaire.firstName}} </td>
                <td>{{stagiaire.nivScolaire}}</td>
                <td class="departements">
                    <p class="departement" [style.backgroundColor]="color[i]">{{stagiaire.departement}}</p>
                </td>
                <td>{{stagiaire.dteDebutStage}} - {{stagiaire.dteFinStage}}</td>
                <td>{{stagiaire.statut}}</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddObjectifForm(stagiaire)">
                            <mat-icon>gps_fixed</mat-icon>
                            <span >Attribuer un objectif</span>
                        </button>
                        <button mat-menu-item >
                            <mat-icon>description</mat-icon>
                            <span>Voir les rapports</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Modifier les informations</span>
                        </button>
                        <button mat-menu-item (click)="deleteStagiaire(stagiaire.id)">
                            <mat-icon>delete</mat-icon>
                            <span>supprimer le stagiaire</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>