<h1>Tableau de bord de l'encadreur</h1>

<div class="statistiques">
    <div class="statistique">
        <p class="line1"><span class="material-symbols-outlined">group</span> stagiaires actifs</p>
        <p class="val">12</p>
    </div>
    <div class="statistique">
        <p class="line1"><span class="material-symbols-outlined">military_tech</span> Objectifs accomplis (Moy.)</p>
        <p class="val">85 <span class="pourcent">%</span></p>
    </div>
    <div class="statistique">
        <p class="line1"><span class="material-symbols-outlined">trending_up</span> Taux de progréssion global</p>
        <p class="val">15 <span class="pourcent">%</span></p>
    </div>
</div>