h2 {
    font-family: 'Outfit';
    font-size: clamp(25px, 2vw, 35px);
    line-height: 32px;
    color: #171A1FFF;
    font-weight: bold;
}

h3 {
    font-size: clamp(20px, 1.5vw, 25px);
    color: #171A1FFF;
    font-family: 'Inter';

}

.graphiques {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2%;
    flex-wrap: wrap;
    font-family: 'Inter';

    .linear-graphs {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 40%;
        overflow: hidden;
        background: #FFFFFFFF;
        border-radius: 10px;
        box-shadow: 0px 0px 1px #171a1f14;
        padding: 20px 0;
        padding-right: 20px;
        margin-top: 20px;
        gap: 30px;
        height: 530px;
    }

    .circular-graphs {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 256px;
        overflow: hidden;
        background: #FFFFFFFF;
        border-radius: 10px;
        box-shadow: 0px 0px 1px #171a1f14;
        padding: 20px 0;
        padding-right: 20px;
        margin-top: 20px;
        position: relative;

        .custom-legend {
            margin-left: 20px;
            position: absolute;
            bottom: 10px;
            display: flex;
            gap: 5px;
            flex-direction: column;

            p {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .legend-color {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 5px;
            }
        }
    }

    h3 {
        font-size: clamp(20px, 1.5vw, 25px);
        color: #171A1FFF;
        font-family: 'Inter';
        margin-left: 5%;
    }

    h4 {
        font-family: 'Inter';
        font-size: 14px;
        margin-left: 5%;
        color: #565D6DFF;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
    }
}
ngx-charts-pie-slice {
  transition: transform 5s ease-out; /* durée de 2 secondes */
}