<section>

    <img src="images/logoPropulse.png" alt="" class="logo">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Connexion</h1>
        <p>Connectez-vous à votre compte pour continuer</p>
        <div class="label-input">
            <label for="identifier">Nom d'utilisateur ou mot de passe</label>
            <input type="text" id="identifier" formControlName="identifier" placeholder="Nom d'utilisateur ou email" required>
            @if (loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched) {
            <div class="error">Ce champ est requis (min 3 caractères) .</div>
            }
        </div>

        <div class="label-input">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" placeholder="Entrer votre mot de passe"
                required>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <div class="error">Mot de passe requis (min. 6 caractères )</div>
            }
        </div>
        <button [routerLink]="['/encadreur']" routerLinkActive="router-link-active"  type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        <a class="forgot-password">Mot de passe oublié ?</a>
    </form>
</section>