<header>
    <button class="logout"><span class="material-symbols-outlined">logout</span>Déconnexion</button>
    <img src="images/avatar.png" [routerLink]="['/encadreur/profil']" alt="Profil">
</header>
<nav class="side-bar">
    <img src="images/logoPropulse.png" alt="">
    <hr>
    <div class="options">
        <span class="option" [routerLink]="['/encadreur/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span class="material-symbols-outlined">account_child_invert</span>
            <a class="text">Gestion des stagiaires</a>
        </span>
        <span class="option" [routerLink]="['/encadreur/dashboard']" routerLinkActive="active">
            <span class="material-symbols-outlined">speed</span>
            <a class="text">Tableau de bord</a>
        </span>
        <span class="option" [routerLink]="['/encadreur/profil']" routerLinkActive="active">
            <span class="material-symbols-outlined"><span class="material-symbols-outlined">person_edit</span></span>
            <a class="text">Profil</a>
        </span>
    </div>

</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>&copy; ROA Tous droits résevés </p>
</footer>