<h1>Tableau de bord du stagiaire</h1>

<div class="statistiques">
    <div class="statistique vert">
        <p class="line1"> Objectifs accomplis <span class="material-symbols-outlined">task_alt</span></p>
        <p class="val">12</p>
        <p class="line3"><span class="restant">-5</span>Temps de stage restant</p>
    </div>
    <div class="statistique jaune">
        <p class="line1">Nombre de rapports soumis<span class="material-symbols-outlined">assignment_turned_in</span></p>
        <p class="val">85</p>
        <p class="line3"><span class="restant">-5</span>Temps de stage restant</p>
    </div>
    <div class="statistique rouge">
        <p class="line1">Objectifs non atteints<span class="material-symbols-outlined">cancel</span></p>
        <p class="val">15</p>
        <p class="line3"><span class="restant">-5</span>Temps de stage restant</p>
    </div>
</div>